

*{

}




/* #region common  -------------------------------------------------------------------------------------*/

:root{
    --discord-primary: #3161e0FF;
    --discord-text: #23272aFF;
    --discord-light: #f6f6f6FF;
    --discord-lighter: white;


    --dis-bg-heade:#add8e6FF;
    --dis-bg-nav: #daa520FF;
    --dis-bg-img: #00008bFF;
    --di-bg-concen:#ee82eeFF;
    --dis-bg-boxsx:#1e90ffFF;
    --dis-bg-boxdx: #ffc0cbFF;
    --dis-bg-navout: #23272aFF;
    --dis-bg-navout2: #20b2aaFF;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* sistemato con  margin: auto e percentuale del contenitore! Vedi .container
.plr-sectin{
    padding-left: 5rem;
    padding-right: 5rem;
}
*/


.debug{
    
}





/* #endregion rule common  */


/* #region Utility -------------------------------------------------------------------------------------*/

.container{
    display: flex;
    width: 80%;
	max-width: 1200px;
	margin: auto;
	height: 100;
}

.disp-flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;

}


/* Utility che centra il contenuto di una flex box */




/* #endregion Utility */


/* #region header -------------------------------------------------------------------------------------*/

#site-header{
    background-color: var(--discord-primary);
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 0.2px white solid;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    flex-grow: 1;    
}

.link{
    flex-grow: 3;
}

.login{
    flex-grow: 1;
    text-align: right;  
}

#accedi{
    background-color: var(--discord-lighter);
    padding: 0.7rem;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.list{
    list-style: none;
    color: var(--discord-light);
}
/* #endregion header*/


/* #region main -------------------------------------------------------------------------------------*/


#site-main{

}

.bg-img{
    height: 100%;
    width: 100%;
    background: url(../img/jumbo.png);
}

.container-central{
    text-align: center;
    border: rgb(169, 195, 5) 1px dashed;
    background-color: var(--di-bg-concen);
    height: 150px;
}

.box1{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
    
}

.box2{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(198, 193, 193);
    
}

.box1-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img{
    height: 300px;
    width: 250px;
    border: black 1px dashed;
    flex-grow: 2;
    background-color: var(--dis-bg-boxsx);
}

.box-text{
    height: 300px;
    width: 80px;
    border: black 1px dashed;
    flex-grow: 1;
    background-color: var(--dis-bg-boxdx);
}

.bg-img-out{
    background-color:  rgb(198, 193, 193);
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.img-out-centre{
    text-align: center;
    border: rgb(169, 195, 5) 1px dashed;
    background-color: green;
    height: 400px;
}

/* #endregion main */


/* #region footer  -------------------------------------------------------------------------------------*/

#site-footer{
    background-color: var(--dis-bg-navout);
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.nav-footer{
    display: flex;  
    
}

.link-footer1{
    flex-grow: 2;
    height: 300px;
    border: 1px black dashed;
    background-color: var(--dis-bg-boxdx);
}

.link-footer2{
    flex-grow: 1;
    height: 300px;
    border: 1px black dashed;
    background-color: var(--dis-bg-navout2);
}

.out{
    display: flex;
    justify-content: space-between;
    background-color: var(--dis-bg-navout2);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-out{
    background-color: var(--dis-bg-boxdx);
    border: 1px black dashed;
    text-align: center;
}

.button-out{
    background-color:  var(--dis-bg-boxdx);
    border: 1px black dashed;
    text-align: center;
}


.line{
    border-top: 1px white sollid;
    padding-top: 2rem;
}

/* #endregion footer */