* {}




/* #region common  -------------------------------------------------------------------------------------*/

:root {
    --discord-primary: #3161e0FF;
    --discord-text: #23272aFF;
    --discord-light: #f6f6f6FF;
    --discord-lighter: white;


    --dis-bg-heade: #add8e6FF;
    --dis-bg-nav: #daa520FF;
    --dis-bg-img: #00008bFF;
    --di-bg-concen: #ee82eeFF;
    --dis-bg-boxsx: #1e90ffFF;
    --dis-bg-boxdx: #ffc0cbFF;
    --dis-bg-navout: #23272aFF;
    --dis-bg-navout2: #20b2aaFF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* sistemato con  margin: auto e percentuale del contenitore! Vedi .container
.plr-sectin{
    padding-left: 5rem;
    padding-right: 5rem;
}
*/


.debug {}

p{
    font-size: 80%;
}

/*
h1{
    margin: 0px;
}
*/






/* #endregion rule common  */


/* #region Utility -------------------------------------------------------------------------------------*/

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 100;
}

.container-small {
    width: 50%;
    max-width: 500px;
    margin: 2rem auto;
    margin-top: 0;
}
/*containre con margini top a zero__*/



.container-small2 {
    width: 50%;
    max-width: 500px;
    margin: 2rem auto;
}

/*container con margini regolari---*/

.disp-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;

}
/* Utility che centra il contenuto di una flex box */

.buttom-centre{
    justify-content: center;
    margin: 2rem;
}

.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;

}





/* #endregion Utility */


/* #region header -------------------------------------------------------------------------------------*/

#site-header {
    background-color: var(--discord-primary);
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 0.2px white solid;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.link {
    flex-grow: 3;
}

.login {
    flex-grow: 1;
    text-align: right;
}

#accedi {
    background-color: var(--discord-lighter);
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
}

.list {
    list-style: none;
    color: var(--discord-light);
}

.list-footer {
    list-style: none;
    color: var(--discord-light);
    
}

.text-blue{
    color: var(--discord-primary);
}



/* #endregion header*/


/* #region main -------------------------------------------------------------------------------------*/

#site-main {
   
   /* immagine di sfondo grigia
    background-image: url(../img/wave.svg);      */
    


    
}


/* #region jumbo section ----------------------------------*/




.bg-img {
    height: 400px;
    background: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* tag per gestire l'immagine------*/


.container-central {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.button-software {
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.app {
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--discord-light);
    color: var(--discord-text);
    border: none;
}

.browser {
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--discord-text);
    color: var(--discord-lighter);
    border: none;
}


/* #endregion jumbo section ----------------------------------*/



.box1-flex {
    display: flex;
    align-items: center;
}

/*
.box-img1 {
    height: 500px;
    background-image: url(../img/item1.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 3;   
} */

.box-text {
    width: 1%;
    flex-grow: 1;
}

/*
.box-img2 {
    height: 300px;
    background-image: url(../img/item2.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 3;
   
}
*/
 /*
.box2 {
    padding-bottom: 10rem;
}

.box3{
    padding-bottom: 10rem;
}
*/

/*
.box-img3 {
    height: 300px;
    background-image: url(../img/item3.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 3;
}
*/
 /*
.bg-img-out {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
*/

/*
.img-out-centre {
    text-align: cener;
    height: 500px;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
*/

.title-end{
    text-align: center;
    padding: 2rem;
}

/* #endregion main */


/* #region footer  -------------------------------------------------------------------------------------*/

#site-footer {
    background-color: var(--discord-text);
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.nav-footer {

}

/*
.flag{
    background-image: url(../img/ita.png);
    background-repeat: no-repeat;
    background-size: 20%;
    height: 2rem;   
}
*/


.link-footer1 {
    flex-grow: 2;
}

.link-footer2 {
    flex-grow: 1;  
}

.out {
    display: flex;
    justify-content: space-between;
    border-top: 1px var(--discord-primary) solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.butt-rec {
    background-color: var(--discord-primary);
    color: var(--discord-lighter);
    text-align: center;
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
}


.line {
    border-top: 1px white sollid;
    padding-top: 2rem;
}

.link-recap{
    flex-direction: column;
}

.lang-ita{
    color: var(--discord-lighter);
}

/* #endregion footer */